<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> DOGTREKKING - {{ title }}</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
               integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
               crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
               integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
               crossorigin=""></script>
            
    </head>
    <body>
      Data platná k času: {{ site.buildTime | dateToString }}
        <ul>
          {% for mi in menu %}
            <li>
              <a href="{{ mi.url }}">{{ mi.title }}</a>
              {%- if mi.sub -%}
                <ul>
                  {%- for mi_sub in mi.sub -%}
                    <li>
                      <a href="{{ mi_sub.url }}">{{ mi_sub.title }}</a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>


          {% endfor %}
        </ul>
        <h1>{{ title }}</h1>

        {{ content }}
    </body>
</html>